body {
    margin: 0;
    padding: 25px;
}

.frame {
    height: 30vh;
    margin: auto;
}

.top {
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

.center {
    border: 2px dotted black;
    padding: 50px;
    margin-bottom: 20px;
}

.purple {
    height: 150px;
    width: 100px;
    background-color: #8937DF;
    margin-top: 55px;
    margin-right: 20px;
    display: inline-block;
}

.green {
    height: 200px;
    width: 600px;
    background-color: #29892A;
    margin-right: 20px;
    display: inline-block;
}

.circle {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    background-color: #89CEEA;
    display: inline-block;
}

.yellow {
    height: 200px;
    width: 100%;
    background-color: #FFF9CF;
    box-shadow: 10px 10px 5px black;
}

.outside-box {
    height: 150px;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px grey;
}

.text-box {
    margin: 60px 0px 0px 0px;
    text-align: center;
    color: navy;
    letter-spacing: 10px;