body {
    width: 100%;
}

.outer {
    width: 100%
}

.box1 {
    height: 100px;
    background-color: #D8D8D8;
    margin: 0px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.inner-box {
    height: 80px;
    width: 80px;
    margin: 20px;
    background-color: #4D92DF;
}

.box2 {
    height: 150px;
}

.text-box {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    margin: 40px 0px 0px 60px;
    letter-spacing: 5px;
}

.box3 {
    height: 100px;
    background-color: #4D92DF;
}

.box4 {
    height: 100px;
    background-color: #57E2C2;
}

.box5 {
    height: 100px;
    background-color: #B9E88B;
}

.box6 {
    height: 100px;
    background-color: #F7E63B;
}